/* ---------------------------------------- | Base */

html {
  --black: #444444;
  --blue-dk: #33b8ba;
  --blue-lt: #7dfdff;
  --blue: #2adcdf;
  --grey: #aaaaaa;
  --grey-lt: #cccccc;
  --red-dk: #ae3932;
  --red: #ff776f;
  --white: #efefef;
}

:root {
  font-size: 16px;
}

body {
  color: var(--black);
  font-family: 'Karla', sans-serif;
  line-height: 1.15;
}

@media (max-width: 600px) {
  :root {
    font-size: 13px;
  }
}

/* ---------------------------------------- | Header */

.header {
  background-color: var(--red);
  padding: 4rem 1rem;
  text-align: center;
}

.header h1 {
  color: var(--white);
  font-size: 3rem;
  font-weight: bold;
}

/* ---------------------------------------- | Footer */

.footer {
  background-color: var(--grey-lt);
  padding: 4rem 1rem;
  text-align: center;
}

.footer img {
  margin: 1rem 5rem;
  max-width: 250px;
}


/* ---------------------------------------- | Container */

.container {
  margin: 1rem auto;
  max-width: 37.5rem;
  padding: 2.5rem 1rem 1rem;
}

/* ---------------------------------------- | Quote Container */

.quote {
  align-items: center;
  display: grid;
  grid-template-columns: auto 50px;
  margin-bottom: 3.5rem;
  position: relative;
}

/* ---------------------------------------- | Quote Body */

.quote-body {
  font-size: 1.75rem;
  margin-bottom: .5rem;
}

.quote-body::before {
  color: var(--black);
  content: '“';
  font-size: 10rem;
  left: -1.75rem;
  line-height: 1;
  opacity: 0.15;
  position: absolute;
  top: -1.75rem;
  z-index: -1;
}

.quote-attribution {
  font-size: 1.15rem;
  color: var(--grey);
}

.quote-attribution::before {
  content: '-';
  display: inline-block;
  margin-right: .25rem;
}

/* ---------------------------------------- | Quote Rating */

.quote-rating {
  text-align: center;
}

.quote-vote-down,
.quote-vote-up {
  color: var(--grey-lt);
  display: block;
  font-size: 2rem;
  line-height: 1;
  text-decoration: none;
}

.quote-vote-down:hover,
.quote-vote-up:hover {
  opacity: 0.75;
  transition: opacity .35s ease;
}

.quote-current-score {
  color: var(--grey);
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  margin: .25rem 0 .75rem;
}

/* ---------------------------------------- | Form */

label,
input,
textarea {
  display: block;
  width: 100%;
}

label {
  margin-bottom: 0.25rem;
}

input,
textarea {
  margin-bottom: 1.5rem;
  padding: .5rem;
}

button {
  background-color: var(--red);
  border: none;
  color: var(--white);
  padding: .5rem 1.5rem;
  font-size: .85rem;
  transition: background-color 0.35s ease;
}

button:hover {
  background-color: var(--red-dk);
  cursor: pointer;
}
